@model IEnumerable<CoffeeShopNew.Models.Item>
 

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h1>Dream Bean CoffeeShop</h1>  
    <p class="lead">Established since 1991. Helping developers get through code one cup at a time</p>
      <p><img src="/Images/coffeetalk.png" alt="Dream Bean Code Repeat" /></p>
       
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register Here!</h2>
        <p> Be a member of our Amazing Coffee Coders Group Now! Click here to Register! </p>
        <p><a class="btn btn-primary" href="Home/Registration">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coffee for Sale</h2>
        <p> Want our amazing coffee at a click of a button! Yes, we can get it delivered!</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Order Coffee &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More Coffee Flavors</h2>
        <p>You can easily find here our new features and Coffee updates.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Find more &raquo;</a></p>
    </div>
</div>