<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>

    </style>
</head>
<body>
    <h2>Registration Form</h2>
    <h3>Please fill out the following details</h3>
    <div class="container">
        <form action="Success" method="post">
            <br />
            <fieldset>
                First name:<br>
                <input type="text" name="FirstName" value="John" autofocus required>
                <br>
                Last name:<br>
                <input type="text" name="LastName" value="Smith"><br />
                Gender:<br>
                <select name="Gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select><br />
                Phone Number:<br>
                <input type="text" name="PhoneNumber" value="3135552323" maxlength="10"> <br>
            </fieldset>
            <fieldset>
                Email:<br>
                <input type="email" name="Email" value="John@yahoo.com" required>
                <br>
                Password:<br>
                <input type="password" name="Password" required>
                <br>
                <br>
                <input type="submit" value="Register"> <input type="reset"><br>
               
            </fieldset>




        </form>
    </div>

</body>
</html>